* {
    padding: 0;
    margin: 0;
}
.header {
    border-bottom: 2px solid #3a404a;
    background: #25272e;
    color: white;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 2;

}
.wrapper {
    max-width: 1366px;
    margin: 0 auto;
    margin-top: 200px;
    padding-top:  200px;
    padding-bottom: 10px;
    padding-right: 100px;
    padding-left: 100px;
    display: block;
}
.main{
    padding-top: 200px;
}
.info{
    display: inline-flex;
}
.logo h1 span {
    display: block;
    font-weight: 400;

}
. logo h1 {
    font-family: Arial, sans-serif;
    font-size: 36px;
    font-weight: bold;
    display: block;
}
.logo .info p {
    font-weight: bold;
    margin-bottom: 10px;
    display: inline-block;
    margin-right: 15px;
}
.logo .info span {
    font-weight: normal;
}

.name{
    list-style: none;
    margin-top: 100px;
    padding-top: 30px;
    font-family: Arial, sans-serif;
    font-size: 36px;
    font-weight: bold;
    display: block;
}

.menu {
    list-style: none;
    margin-top: 100px;
    padding-top: 30px;
}
.menu li {
    float: right;
    margin-right: 20px;

}
.menu li a {
    text-decoration: none;
    color: white;
    font-size: 18px;
    padding: 5px 10px;

}
.menu li a:hover{
    background: #6f7786;
    color: black;

}
.body{
    font-family: Arial, sans-serif;
    display: block;
}


.photo{
    float: left;
    padding-left: 10px;
    padding-right: 20px;
    border:2px;
}
.Headblock {
   display:  flex;
   justify-content: space-between;
}


.info .Headblock {
    display:  flex;
    justify-content: space-between;
    height: 400px;
}
.content {
    display: flex;
}
.block1{
    margin: 40px;
}
.information {
    margin-top: 50px;
    padding: 20px;
    border: 2px solid #379671;
}
.h2 {
    padding-bottom: 20px;
    height: 80px;
    padding-top: 250px;
    margin: 400px;
}
.main {
    padding-top: 200px;

}
.about-us{
    margin-top: 50px;
    margin-bottom: 50px;
}



/* Footer*/

.footer {
    color: white;
    box-sizing: border-box;
    background: #25272e;
    color:white;
}
.footer .container{
    display: flex;
    justify-content: space-between;
    margin: 50px 200px;


}
.list1 {
    list-style-type: none;
    padding-left: 0;
}


.list1 {
    list-style-type: none;
    padding-left: 0;
}
.list1 li {
    margin-right: 20px;
    margin-top: 20px;
    text-decoration: none;
}

.list1 li a {
    text-decoration: none;
    color: white;
}

.list1 li a:hover{
    border-bottom: 2px solid #379671;
    color: #379671;
}

.list2 {
    list-style-type: none;
    padding-left: 0;
}
.list2 li {
    margin-right: 20px;
    margin-top: 20px;
    text-decoration: none;
}

.list2 li a {
    text-decoration: none;
    color: white;
}

.list2 li a:hover{
    border-bottom: 2px solid #379671;
    color: #379671;
}


.list3 {
    list-style-type: none;
    padding-left: 0;
}
.list3 li {
    margin-right: 20px;
    margin-top: 20px;
    text-decoration: none;
}

.list3 li a {
    text-decoration: none;
    color: white;
}

.list3 li a:hover{
    border-bottom: 2px solid #379671;
    color: #379671;
}

.text {
    text-align: center;
    border:  #379671;
    height: 80px;
    border-top: 2px solid #379671;
    padding-top: 40px;

}
.social{
    list-style: none;
    display: flex;

}
.social li {
    margin-left: 20px;
    margin-top: 20px;
    float: left;
}
.social li a:hover{
    border-bottom: 2px solid #379671;
    color: #379671;
}


.clear {
    clear: both;
}
.footer .container2{
    display: flex;
    justify-content: space-between;
    margin: 50px 200px;}



.top-header {
    width: 100%;
    height: 768px;
    font-size: 32px;
    color: #ffffff;
    text-shadow: 1px 1px 0 rgba(0,0,0,.2);
    margin: auto;
    text-align: center;
    vertical-align: middle;
    line-height: 768px;
    background-image: url(https://www.brightgen.com/sites/default/files/your-business-at-its-best-2b-1366px_0.jpg);
    background-size: cover;
}

.top-header h1{
    display: inline-block;
    margin: 0px;
}

h2 {
    text-align: center;
    color: #44AF69;
}
.price-box {
    background: #fff;
    color: #555;
    list-style-type:none;
    border: 1px solid #555;
    margin: 10px;
    padding: 0px;
    rtansition: 0.3s;

}

.wrapper {
    max-width: 1366px;
    margin: 0 auto;
    padding: 20px 30px;
}

.price-box:hover, .price-box.best{
    box-shadow: 0 10px 15px 0 #000000;
}
.price-box .header {
    background-color: #111111;
    color: #44AF69;
    font-size: 25px;
}

.price-box li{
    padding:20px 80px;
    border-bottom: 1px solid #acacac;
    text-align: center;

}

.price-box .emph {
    background-color: #CED3DC;
    font-size:20px;
}

.emph1 {
    background-color: #44AF69;
}

.button {
    background-color: inherit;
    border: none;
    color: #ffffff;
    padding: 10px 15px;
    text-align: center;
    text-decoration: none;
    font-size: 20px;
}

@media (max-width:700px) {
    .col{
        width: 100%
    }
}
.content2{
    display: flex;
    align-content: center;
    justify-content: space-between;
    background: gray;
   margin-bottom: 150px;

}


.price-box .li a{
    padding-right: 40px;
    padding-left: 40px;
    margin: 70px;
}
.header01 {
    background: #379671;
}
.content3 {
    background: #25272e;
    height: 800px;
    padding: 40px auto;
    display: flex;
    justify-content: center;
    align-items: center;
}

.inner {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    position: relative;
}
.inner-box {
    background: #379671;
    width: 220px;
    height: 220px;
    position: relative;
    transition: 0.5s ease;

}
.inner-box:hover{
    background-size: contain;
    z-index: 4;
    transform: scale(1.2);
    box-shadow: inset 0 0 0 10px yellow;
    border-radius: 100%;
}

.circle {
    width: 50px;
    height: 50px;
    border-radius: 100%;
    background: white;
    position: absolute;
    box-shadow: 0 10px 15px 0 #000000;
    text-align: center;
    line-height: 50px;
    top:135px;
    left: 135px;
}



.red {
    background: orangered;
    right: 0px;
    top:0px;
}
.red:hover {
    background-size: contain;
    box-shadow: inset 0 0 0 10px darkred;
}

.green {
    background: greenyellow;
    right: 50px;
    top:20px;
    z-index: 1;
}
.blue:hover {
    background-size: contain;
    box-shadow: inset 0 0 0 10px darkgreen;
}


.blue {
    background: dodgerblue;
    right: -250px;
    top:70px;
    z-index: 2;
}
.blue:hover {
    background-size: contain;
    box-shadow: inset 0 0 0 10px blue;
}

.yellow {
    background:#ffe400 ;
    right: 250px;
    top:100px;
    z-index: 3;

}
.yellow:hover {
    background-size: contain;
    box-shadow: inset 0 0 0 10px yellow;
}










